/* write your override styles here */

#wall .tag-1, #wall .parent {
  display: none;
}

#wall div#tag-2 + div#tag-3.slick {
  display: none;
}

body #wall .tag-2 {
  display: none;
}

body div#wall #tag-2 {
  display: none
}
